@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;400&display=swap');


body {
    overflow: hidden;
    background: #eeeeee;
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Infant', serif;
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 300;
    width: 100%;
    max-width: 900px;
    height: 600px;
    max-height: 100%;
    padding: 1rem;
    outline: 24px solid white;
    border: 2px solid black;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: 0.5s;

    &.hidden {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }


    &__close {
        position: absolute;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        margin: 0;
        padding: 0;
        overflow: visible;
        margin-left: auto;
        cursor: pointer;
        background: transparent;
        color: inherit;
        font: inherit;
        line-height: normal;
        top: 1.5rem;
        right: 1.5rem;

        &::-moz-focus-inner {
            border: 0;
            padding: 0;
        }

        &:focus,
        &:hover,
        &:active {
            outline: none;
            box-shadow: none;
            border: none;
        }
    }

    &__heading,
    &__subheading {
        font-family: 'Cormorant Infant', serif;
    }

    &__heading {
        font-size: 2rem;
    }

    &__subheading {
        font-size: 1.5rem;
    }
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 250;
    backdrop-filter: blur(8px);
    transition: 0.8s;

    &.hidden {
        opacity: 0;
        transform: scale(0);
    }
}

.threeJS__container {
    // width: 50vw;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    position: fixed;
    z-index: -1;
    pointer-events: none;
}

.container-fluid {
    max-width: 2200px;
    margin: auto;
    position: relative;
}

.header {
    position: absolute;
    left: 2.5rem;
    top: 2.5rem;
    z-index: 200;
    width: calc(100% - 5rem);

    &__heading {
        font-size: 2.5rem;
        font-family: 'Cormorant Infant', serif;
        font-weight: 400;
        margin: 0;
    }

    &__subheading {
        margin: 0;
        font-size: 1.5rem;
        font-family: 'Cormorant Infant', serif;
        font-weight: 300;
    }

    &__contact {
        position: absolute;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        margin: 0;
        padding: 0;
        overflow: visible;
        margin-left: auto;
        cursor: pointer;
        background: #eee;
        color: inherit;
        font: inherit;
        line-height: normal;
        top: 1.5rem;
        right: 1.5rem;
        padding: 0.5rem;
        border: 1px solid black;
        transition: 0.5s;
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

        &::-moz-focus-inner {
            border: 1px solid black;
            padding: 0;
            box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        }

        &:focus,
        &:hover,
        &:active {
            outline: none;
            transform: translateY(-2px);
            box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
            border: 1px solid black;
        }
    }
}

.main-gallery {
    width: 100%;

    &__items {
        // position: fixed;
        // left: 1rem;
        // top: -130vh;
        z-index: 100;
        padding: 0 2.5rem;
        margin: 0;
        // border: 1px solid #eeeeee;
        color: black;
        width: calc(50% - 3rem);
        list-style-type: none;
        font-size: 30px;
        height: 100vh;
        position: relative;
        transition: 0.3s;
    }

    &__item {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__heading {
        font-family: 'Cormorant Infant', serif;
        font-weight: 300;
        margin-bottom: 1rem;
        margin-top: 0;
    }

    &__description {
        font-size: 1.2rem;
        font-family: 'Cormorant Infant', serif;
        font-weight: 400;
        max-width: 720px;
    }

    &__maximize {
        position: fixed;
        width: 32px;
        left: 2.5rem;
        bottom: 2.5rem;
        z-index: 200;
        padding: 0.5rem;
        cursor: ne-resize;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid transparent;
        transition: 0.5s;

        svg {
            max-width: 100%;
            width: 32px;
        }

        &:hover {
            box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
            border: 1px solid black;
        }
    }
}